/Exercicio01.class
/Exercicio02.class
/Exercicio03.class
/Exercicio04.class
/Exercicio05.class
/Exercicio06.class
/Exercicio07.class
/Exercicio08.class
/Exercicio09.class
/Exercicio10.class
/Exercicio11.class
/Exercicio12.class
/Exercicio13.class
/Exercicio14.class
/Exercicio15.class
/Exercicio16.class
/Exercicio17.class
/Exercicio18.class
/Exercicio19.class
/Exercicio20.class
/Exercicio21.class
/Exercicio22.class
/Exercicio23.class
